<p id="notice"><%= notice %></p>

<div class="container">
<h1>Tiendas</h1>

    
  

  <div class="card border-success mb-3">
      <% @stores.each do |store| %>
      <div class="card m-2">
    <div class="card-body">
      <h5 class="custom-font">Store: <span class="h5"> <%=store.name%> </span></h5> 
      <h5 class="custom-font">Link: <span class="h5"> <%=store.url%> </span></h5> 
      <h5 class="custom-font">Ubicacion: <span class="h5"> store.addresses.first.name </span></h5> 


         <div class="card-footer">
          <%= link_to 'Show', store %></td>
          <%= link_to 'Edit', edit_store_path(store) %></td>
          <%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
      </div>
      <% end %> 
    </div>



   



<%= link_to 'New Store', new_store_path %>

</div>