<div class="container pb-5">
<nav class="navbar navbar-expand-lg  fixed-top navbar-light" style="background-color: #008080">
<%= link_to image_tag("veganlog_navbar.png", height: '40'), root_path, class:'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to  "Lista", products_path, class: 'nav-link' %>
      </li>
        <li class="nav-item">
          <%= link_to  "Tiendas", stores_path, class: 'nav-link' %>
      </li>
        <li class="nav-item">
          <%= link_to  "Direcciones", addresses_path, class: 'nav-link' %>
      </li>
    <% if user_signed_in? %>
    <% if current_user.has_role? :admin %>
      <li class="nav-item">
       <%= link_to "Nuevo Producto", new_product_path, class: 'nav-link'%>
      </li>

        <li class="nav-item">
          <%= link_to  "Categorias", new_category_path, class: 'nav-link' %>
      </li>
    <% end %>
    <% end %>
      <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle "  href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% if user_signed_in? %>
             <%= current_user.email %>
          <% else %>
             Ingresar
          <% end %>
        </a>
          <div class="dropdown-menu font-submenu" style="background-color: #008080" aria-labelledby="navbarDropdownMenuLink">
         
            <% if !user_signed_in? %>
            <%= link_to 'Iniciar sesión', new_user_session_path, class: 'nav-link' %>
            <%= link_to 'Registrarse',  new_user_registration_path, class: 'nav-link'%>

            <% else %>
            <%= link_to 'Editar Perfil', edit_user_registration_path, class: 'nav-link' %>
            <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete, class: 'nav-link' %>
            <% end %>
          </div>
       </li>
    </ul>
  </div>
</nav>
</div>

