<%= form_with(model: address, local: true) do |form| %>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :direccion, class: 'h4' %>
    <%= form.text_field :name, placeholder:"Enter your address", onFocus:"initializeAutocomplete()", class:"form-control" %>
    </div>

    <div class="form-group">
  <%= form.label :Tiendas, class: 'h4 custom-font'  %>
    <%= form.select(:store_id, options_for_select(Store.pluck(:name, :id)), { prompt: "Seleccionar Tienda" }, { class: "form form-group form-control" }) %>
  </div>
<div class="actions">
  <%= form.submit %>
  </div>
<% end %>

