<div class="container">
      <h2 class="custom-font text-center">Direcciones</h2>
            <div class="row pb-3">
                <div class="col-12 p-2">
          <div><%= link_to 'Nueva Direccion', new_address_path, :class => 'btn btn-info m-3' %></div>

                    <% @addresses.each do |address| %>
                      <div class="card m-3">
                      <div class="card-body p-2">
                  <div class="row p-2">
                        <div class="col-md-9">
                          <div class="m-4"><h5 class="custom-font">Direccion: <span class="text-body font-weight-light"><%= address.name %></span> </h5>
                          <h5 class="custom-font d-none d-sm-block">Coordenadas: <span class="text-body font-weight-light"><%= address.latitude %> , <%= address.longitude %></span> </h5>
                          <h5 class="custom-font">Tienda:  <span class="text-body font-weight-light"> <%= address.store.name %></span></h5></div>
                        </div>
                        
                        <div class="col-md-3">
                              <ul class="list-group">
                                <li class="list-group-item"><%= link_to 'Mostrar', address %></li>
                                  <% if user_signed_in? %>
                                  <% if current_user.has_role? :admin %>
                                <li class="list-group-item"><%= link_to 'Editar', edit_address_path(address) %></li>
                                <li class="list-group-item"><%= link_to 'Eliminar', address, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                                  <% end %>
                                  <% end %>
                              </ul>
                        </div>
                    
                    </div>
                </div>
                </div>
                        <% end %>

              </div>
        </div>
   
</div>
