
<div class="container">
  <!--Botones -->
  <div class="row">
    <div class="col-2"></div>
      <div class="d-flex p-2">
        <%= link_to 'Editar', edit_address_path(@address), class:"m-2 btn btn-info" %> 
        <%= link_to 'Volver', addresses_path, class:"m-2 btn btn-info" %>
      </div>
  </div>

  <div class="row">
    <div class="col-2"></div>
    <div class="card d-flex p-1 custom-font">
      <div class="card-body">
        <h4><strong>Tienda:</strong><%= @address.store.name %></h4>
        <h4><strong>Direccion:</strong><%= @address.name %></h4>
        <!--MAPA-->
        <div id="map"></div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>

<!-- script GoogleMap -->

<script>
    window.onload = function () {
      initialize();
        function initialize(lat, lng) {
          var lat = <%= @address.latitude %>;
          var lng = <%= @address.longitude %>

          var myCoords = new google.maps.LatLng(lat, lng);
          var mapOptions = {
          center: myCoords,
          zoom: 14
          };
          var map = new google.maps.Map(document.getElementById('map'), mapOptions);
          var marker = new google.maps.Marker({
          position: myCoords,
          map: map
          });
    }
  }
</script>


      