<%= form_with(model: @category, local: true) do |form| %>
<div class="container">
<div class="row">
  <div class="col-md-2"></div>  
  <div class="col-md-8">
  <%= link_to 'Back', root_path, class:'btn btn-info m-2' %>

    <div class="card">
      <div class="card-body">
        <form>
          <div class="form-group">
            <%= form.label :Nombre, class: 'h4' %>
             <%= form.text_field :name, class: 'form-control' %>
          </div>
        </form>

          <div class="actions">
            <%= form.submit 'Crear', class:"btn btn-info" %>
          </div>
<% end %>
      </div>
    </div>
  </div>
<div class="col-md-2"></div>
</div>
</div>

