		<div class="row justify-content-center pb-5">
			<div class="col-lg-9">
      <%= link_to 'Volver', products_path, :class => 'btn btn-info m-2 ' %>

       <div class="card">
         <div class="card-body">

          <%= form_with(model: product, local: true) do |form| %>
            <% if product.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

                <ul>
                <% product.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <form>
              <div class="form-row p-2">
                <div class="col-md-4 col-form-label">
                  <%= form.label :Nombre, class: 'h5' %>
                </div>
                <div class="col-md-8">
                  <%= form.text_field :productname, class: 'form-control' %>
                </div>
              </div>

              <div class="form-row p-2">
                <div class="col-md-4 col-form-label">
                  <%= form.label :'Nombre Comercial', class: 'h5' %>
                </div>
                <div class="col-md-8">
                  <%= form.text_field :comercialName, class: 'form-control' %>
                </div>
              </div>

              <div class="form-row p-2">
                <div class="col-md-4 col-form-label">
                  <%= form.label :Marca, class: 'h5' %>
                </div>
                <div class="col-md-8">
                  <%= form.text_field :markName, class: 'form-control' %>
                </div>
              </div>

              <div class="form-row p-2">
                <div class="col-md-4 col-form-label">
                  <%= form.label :Precio, class: 'h5' %>
                </div>
                <div class="col-md-8">
                  <%= form.text_field :price, class: 'form-control'  %>
                </div>
              </div>

              <div class="form-row p-2">
                <div class="col-md-4 col-form-label">
                  <%= form.label :Ingredientes, class: 'h5' %>
                </div>
                <div class="col-md-8">
                  <%= form.text_field :ingredients, class: 'form-control' %>
                </div>
              </div>

              <div class="form-row p-2">
                <div class="col-md-4 col-form-label">
                  <%= form.label :Descripcion, class: 'h5' %>
                </div>
                <div class="col-md-8">
                  <%= form.text_field :description, class: 'form-control' %>
                </div>
              </div>
              
              <div class="form-row p-2">
                <div class="col-md-4 col-form-label">
                  <%= form.label :Categoria, class: 'h5'  %>
                </div>
                <div class="col-md-8">
                  <%= form.select(:category_id, options_for_select(Category.pluck(:name, :id)), { prompt: "Seleccionar Categoria" }, { class: "form-control" }) %>
                </div>
              </div>

              <div class="form-row p-2">
                <div class="col-md-4 col-form-label">
                  <%= form.label :Tienda, class: 'h5'  %>
                </div>
                <div class="col-md-8">
                  <%= form.select(:store_id, options_for_select(Store.pluck(:name, :id)), { prompt: "Seleccionar Tienda" }, { class: "form form-group form-control" }) %>
                </div>
              </div>

             <div class="form-row p-2">
                <div class="col-md-4 col-form-label">
                  <%= form.label :Puntuacion, class: 'h5' %>
                </div>
                <div class="col-md-8">
                  <div id="rating-form"></div>
                </div>
              </div>
    
              <div class="form-row p-2">
                <div class="col-md-4 col-form-label">
                  <%= form.label :Imagen, class: 'h5'  %> <br>
                </div>
                  <div class="col-md-8">
                <%= form.file_field :image, class: 'btn btn-info' %>
                </div>
              </div>

              <div class="form-row p-2">
                <div class="col-md-4"></div>

                <div class="col-md-4 col-form-label">
                  <span class="actions">
                    <%= form.submit 'Guardar', :class => 'btn btn-info m-3'  %>
                  </span>
                </div>
              </div>
          </form>
        <% end %>
        </div>
      </div>
    </div>
  </div>


  <script>
  
  $('#rating-form').raty({
    size     : 60,
    starOff: '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    scoreName: 'product[totalScore]'
  });

  var score = <%=@product.totalScore  %>

  $('#rating-form').raty('setScore', score);

  </script>