
<div class="d-flex justify-content-center">
<div class="box-form">

<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <form>

    <div class="form-group">
    <%= form.label :Nombre, class: 'h4 custom-font' %>
    <%= form.text_field :productName, class: 'form-control' %>
    </div>

  <div class="form-group">
    <%= form.label :'Nombre Comercial', class: 'h4 custom-font' %>
    <%= form.text_field :comercialName, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :Marca, class: 'h4 custom-font' %>
    <%= form.text_field :markName, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :Precio, class: 'h4 custom-font' %>
    <%= form.text_field :price, class: 'form-control'  %>
  </div>

  <div class="form-group">
    <%= form.label :Ingredientes, class: 'h4 custom-font' %>
    <%= form.text_field :ingredients, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :Descripcion, class: 'h4 custom-font' %>
    <%= form.text_field :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :Direccion, class: 'h4 custom-font' %>
    <%= form.text_field :addressId, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :Tienda, class: 'h4 custom-font' %>
    <%= form.text_field :storeId, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :Usuario, class: 'h4 custom-font' %>
    <%= form.text_field :userId, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :totalScore, class: 'h4 custom-font' %>
    <%= form.text_field :totalScore, class: 'form-control' %>
  </div>

  <div class="form-group">
  <%= form.label :Categoria, class: 'h4 custom-font'  %> <br>
    <%= form.select(:category_id, options_for_select(Category.pluck(:name, :id)), { prompt: "Seleccionar Categoria" }, { class: "form form-group form-control" }) %>
  </div>
  
  <div class="form-group">
<%= form.label :Imagen, class: 'h4 custom-font'  %> <br>
<%= form.file_field :imgUrl, class: 'btn btn-info' %>
</div>
 <br>
  <div class="actions">
    <%= form.submit %>
  </div>

  </div>
</form>
<% end %>

</div>
</div>