<div class="container pb-4">
<div class="card mb-4 card-custom mx-auto">
  <div class="row">
    <div class="col-md-3 d-flex">
    <div class="p-2">
                 <% if product.image.attached? %>
              <%= image_tag product.image.variant(resize: '200x220') %>
              <% end %>
    </div>
    </div>
    <div class="col-md-9">
      <div class="card-body">
       <h5 class="card-title"><%=product.productname%></h5>
        <p class="card-text"><%=product.comercialName%></p>
        <p class="card-text"><%=product.ingredients%></p>
        <p class="card-text"><%=product.category.name %></p>
        <p class="card-text"><%= store_find(product).name %></p>
        <p class="card-text"><%= adresseses_by_store(product)[0].name %></p>
       <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" data-lat='<%= adresseses_by_store(product)[0].latitude %>' data-lng='<%= adresseses_by_store(product)[0].longitude %>'>Mapa</button></span></h6>

        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <% if current_user.has_role? :admin %>
        <%= link_to 'Editar', edit_product_path(product) %>
        <% end %>
       <%= link_to 'Mostrar mas', product %>

      </div>
    </div>
  </div>
</div>
</div>


<!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel"></h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12 modal_body_content">
              <p></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 modal_body_map">
              <div class="location-map" id="location-map">
                <div style="width: 600px; height: 400px;" id="map_canvas"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 modal_body_end">
            </div>
          </div>
        </div>
      </div>
    </div>

  <script>
$(document).ready(function() {
  var map = null;
  var myMarker;
  var myLatlng;

  function initializeGMap(lat, lng) {
    myLatlng = new google.maps.LatLng(lat, lng);

    var myOptions = {
      zoom: 15,
      zoomControl: true,
      center: myLatlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

    myMarker = new google.maps.Marker({
      position: myLatlng
    });
    myMarker.setMap(map);
  }

  // Re-init map before show modal
  $('#myModal').on('show.bs.modal', function(event) {
    var button = $(event.relatedTarget);
    initializeGMap(button.data('lat'), button.data('lng'));
    $("#location-map").css("width", "100%");
    $("#map_canvas").css("width", "100%");
  });

  // Trigger map resize event after modal shown
  $('#myModal').on('shown.bs.modal', function() {
    google.maps.event.trigger(map, "resize");
    map.setCenter(myLatlng);
  });
});

</script>