<p id="notice"><%= notice %></p>

<p>
  <strong>Productname:</strong>
  <%= @product.productName %>
</p>

<p>
  <strong>Comercialname:</strong>
  <%= @product.comercialName %>
</p>

<p>
  <strong>Markname:</strong>
  <%= @product.markName %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @product.ingredients %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Imgurl:</strong>
  <%= @product.imgUrl %>
</p>

<p>
  <strong>Addressid:</strong>
  <%= @product.addressId %>
</p>

<p>
  <strong>Storeid:</strong>
  <%= @product.storeId %>
</p>

<p>
  <strong>Userid:</strong>
  <%= @product.userId %>
</p>

<p>
  <strong>Totalscore:</strong>
  <%= @product.totalScore %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
