
<!DOCTYPE html>
<html>
  <head>
    <title>Veganlog</title>

    <!--TAG RAILS-->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS CDN -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- CSS INTERNO-->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <!-- JS INCLUDE -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!-- SCRIPT API GOOGLE-->
    <script src="<%= google_maps_api_autocomplete_url %>" async defer></script>
      

  </head>
  
  <body>
    <!-- NAVBAR-->
    <%= render 'shared/navbar'%>
    
    <!-- CONTENEDOR -->
    <div class="container-fluid">

      <!--NOTIFICACIONES -->
      <%= render 'shared/notify'%>

      <!-- VISTAS -->
      <%= yield %>

    </div>
      
   
  <!-- FOOTER -->
   <%= render 'shared/footer'%>

  </body>


</html>
